<div style="height: 90vh">
  <ontodia settings="nostats" authoring-mode="true">
    <semantic-form new-subject-template='http://www.hercules.gouv.qc.ca/instances/entity/{{UUID}}' fields='[[fieldDefinitions]]'>
      <ontodia-entity-metadata
        entity-type-iri='http://www.cidoc-crm.org/cidoc-crm/E1_CRM_Entity'
        label-iri='http://www.hercules.gouv.qc.ca/instances/fields/Label'
        type-iri='http://www.hercules.gouv.qc.ca/instances/fields/Type'>
      </ontodia-entity-metadata>
      <semantic-form-text-input for='http://www.hercules.gouv.qc.ca/instances/fields/Label' placeholder='[[i18n "labelPlaceholder" locale=(urlParam "preferredLanguage")]]'></semantic-form-text-input>
      <semantic-form-errors></semantic-form-errors>
      <button name="submit" class="btn btn-default">[[i18n "create" locale=(urlParam "preferredLanguage")]]</button>
      <button name="reset" class="btn btn-default">[[i18n "reset" locale=(urlParam "preferredLanguage")]]</button>
    </semantic-form>
    <semantic-form new-subject-template='http://www.hercules.gouv.qc.ca/instances/entity/{{UUID}}' fields='[[fieldDefinitions]]'>
      <ontodia-entity-metadata
        entity-type-iri='http://www.cidoc-crm.org/cidoc-crm/E18_Physical_Thing'
        label-iri='http://www.hercules.gouv.qc.ca/instances/fields/Label'
        type-iri='http://www.hercules.gouv.qc.ca/instances/fields/Type'>
      </ontodia-entity-metadata>
      <semantic-form-text-input for='http://www.hercules.gouv.qc.ca/instances/fields/Label' placeholder='[[i18n "labelPlaceholder" locale=(urlParam "preferredLanguage")]]'></semantic-form-text-input>
      <semantic-form-errors></semantic-form-errors>
      <button name="submit" class="btn btn-default">[[i18n "create" locale=(urlParam "preferredLanguage")]]</button>
      <button name="reset" class="btn btn-default">[[i18n "reset" locale=(urlParam "preferredLanguage")]]</button>
    </semantic-form>
  </ontodia>
</div>
