
<ol class="page-breadcrumb">
    <li>
      <mp-link title="Home" url="/">Accueil</mp-link>
    </li>
    <li class="active">
      <mp-label iri='[[this]]'></mp-label>
    </li>
  </ol>
  
  <div class="page rs-page">
    [[#> :ClipboardSidebar]]
    <div class="page__header-navtabs">
      [[> :Header fc=fc fcLabel=fcLabel]]
    </div>
  
    [[#if (urlParam "tab")]]
    <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="[[urlParam 'tab']]">
      [[else]]
      <bs-tab-container id="tab-container" class="page__body-navtabs--borderless" default-active-key="summary">
        [[/if]]
        <div>
          <bs-nav bs-style="tabs" id="tabs">
            <bs-nav-item event-key="summary">[[i18n "summary" locale=(urlParam "preferredLanguage")]]</bs-nav-item>
            <bs-nav-item event-key="annotations">
                [[i18n "annotations" locale=(urlParam "preferredLanguage")]] <semantic-context repository='assets'><semantic-query query="SELECT (COUNT(DISTINCT ?s) AS ?count) WHERE {
                ?s <http://www.ics.forth.gr/isl/CRMdig/L43_annotates> ??;
                }"
                template='{{#each bindings}}<span class="badge">{{count.value}}</span>{{/each}}'></semantic-query></semantic-context>
            </bs-nav-item>
            <bs-nav-item event-key="related">[[i18n "explore" locale=(urlParam "preferredLanguage")]]</bs-nav-item>
            <bs-nav-item event-key="source" title="Knowledge Graph">Source</bs-nav-item>
            <bs-nav-item event-key="map" title="Knowledge Graph">[[i18n "maps" locale=(urlParam "preferredLanguage")]]</bs-nav-item>
          </bs-nav>
  
          <bs-tab-content unmount-on-exit=true>
            <bs-tab-pane event-key="summary">
              [[> summary]]
            </bs-tab-pane>
            <bs-tab-pane event-key="annotations">
              [[> :EntityAnnotations]]
            </bs-tab-pane>
            <bs-tab-pane class-name="vertical-nav-tabs" event-key="related">
              [[#> :ExploreRelated]]
              [[> wikidata]]
              [[/ :ExploreRelated]]
            </bs-tab-pane>
            <bs-tab-pane event-key="source">
              [[> Platform:SourceStatements]]
            </bs-tab-pane>
            <bs-tab-pane event-key="map">
              <semantic-map
                    query='
                    PREFIX geo:  <http://www.opengis.net/ont/geosparql#>
                    SELECT ?lat ?lng WHERE {
                      VALUES(?lat ?lng) {
                        ("45.4413" "-73.6886")
                      }
                    }'
               tuple-template='<b>{{description.value}}</b><br><a href="https://wikidata.metaphacts.com/resource/?uri={{link.value}}" target="_blank">Open in wikidata</a>'
              ></semantic-map>
            </bs-tab-pane>
          </bs-tab-content>
        </div>
      </bs-tab-container>
      [[/:ClipboardSidebar]]
  </div>
  