<ol class="page-breadcrumb">
        <li>
          <mp-link title="Home" url="/">Home</mp-link>
        </li>
        <li class="active">
          <mp-label iri='[[this]]'></mp-label>
        </li>
      </ol>
      
      <style>
      
      </style>
      
      <div class="page">
          [[#if (ask "ASK { {SELECT * WHERE {?? ?p ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?? ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?p ??}LIMIT 1}UNION{ {SELECT * WHERE {?a ?p ?o. FILTER(??=<Template:http://www.w3.org/2000/01/rdf-schema#Resource> )} LIMIT 1} } }")]]
          <div class='page__header-navtabs'>
            [[> Platform:DefaultResourceHeader]]
          </div>
          <bs-tabs id="tabs" class='page__body-navtabs' unmount-on-exit=true>
            <bs-tab event-key="0" class="tab-ontodia" title=[[i18n "summary" locale=(urlParam "preferredLanguage")]]>
              [[> Summary]]
            </bs-tab> 
            <bs-tab event-key="1" title="Source">
              [[> Platform:SourceStatements]]
            </bs-tab>
            <bs-tab event-key="2" class="tab-ontodia" title="Graphe de connaissance">
              <ontodia id='ontodia' hide-toolbar  =true hide-panels=true hide-scroll-bars=true hide-navigation-confirmation=true auto-zoom=true settings=nostats iri='[[this]]'></ontodia>
            </bs-tab>
            <bs-tab event-key="3" class="tab-ontodia" title="Carte">
                <semantic-map
                    query='
                    PREFIX geo:  <http://www.opengis.net/ont/geosparql#>
                    SELECT ?lat ?long WHERE {
                      VALUES(?lat ?lng ?description ?link) {
                        ("45.4413" "-73.6886" "Lachine" <http://www.wikidata.org/entity/Q22132500>)
                      }
                    }'
               tuple-template='<b>{{description.value}}</b><br><a href="https://wikidata.metaphacts.com/resource/?uri={{link.value}}" target="_blank">Open in wikidata</a>'
              ></semantic-map>
            </bs-tab>
            <bs-tab event-key="4" class="tab-ontodia" title="Ligne du temps">
                <semantic-timeline 
                    query='PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
                    SELECT ?start ?end ?subject WHERE {
                        VALUES (?start ?end ?subject) {
                            ("1899-07-21"^^xsd:date "1961-07-02"^^xsd:date "Bataille de Lachine")
                        }
                    }' 
                tuple-template="{{> template}}" tuple-template-height="42">
                    <template id="template">
                    <div>
                        <b>{{subject.value}}</b>
                        <div>{{start.value}} - {{end.value}}</div>
                    </div>
                    </template>
                ></semantic-timeline>            
            </bs-tab>
            [[> "http://www.metaphacts.com/resource/LinksToOtherDatabases" eventKey='2']]
          </bs-tabs>
        [[else]]
        <div class='page__body'>
          <p>
            It seems that no entity with IRI <code>"[[this]]"</code> in any subject, predicate or object position is known in the knowledge graph. Also no static application page with this identifier can be found.
          </p>
          <p>
            Click on the edit button (<i class="fa fa-pencil"></i>) in the top right of this page (<i>only visibile if the respective ACL permissions are being granted to you</i>) to create a new, static application page with this identifier.
          </p>
        </div>
        [[/if]]
      </div>
      