[[#*inline "pattern"]]
  [[#if po]]
    <[[this]]> ?property ?object .
  [[else]]
    ?subject ?property <[[this]]> .
  [[/if]]
[[/inline]]

<semantic-table 
    query='
      SELECT ?property ?[[projection]] ?graph WHERE { 
        { 
          GRAPH ?graph { [[> pattern]] }
        } UNION {
          [[> pattern]]
          OPTIONAL { GRAPH ?g { [[> pattern]] } }
          FILTER(!BOUND(?g))
        } 
      } LIMIT 1000'
    column-configuration='[
      {"variableName":"property", "displayName":"[[i18n "property" locale=(urlParam "preferredLanguage")]]"},
      {"variableName":"[[projection]]", "displayName":"[[label]]"},
      {"variableName":"graph", "displayName":"[[i18n "namedGraph" locale=(urlParam "preferredLanguage")]]", "cellTemplate":"{{> template}}"}                                
    ]'
    no-result-template='[[i18n "resource" locale=(urlParam "preferredLanguage")]] [[this]] [[i18n "notUsedInRDFStatement" locale=(urlParam "preferredLanguage")]]'
    options='{
      "resultsPerPage":10
    }'
    show-literal-datatype=true
    link-params='[[#if (urlParam "showStatements")]]{"showStatements": [[urlParam "showStatements"]]}[[else]]{}[[/if]]'
>
    <template id='template'>
      {{#if graph.value}}
        <semantic-link uri="[[resolvePrefix "Admin:NamedGraphs"]]" urlqueryparam-graph='{{graph.value}}'>{{graph.value}}</semantic-link>
      {{else}}
        <semantic-link uri="[[resolvePrefix "Admin:NamedGraphs"]]">[[i18n "defaultGraph" locale=(urlParam "preferredLanguage")]]</semantic-link>
      {{/if}}
    </template>
</semantic-table>
<br />

[[#if showLink]]
  <mp-link url="/sparql" urlqueryparam-query='SELECT * WHERE { [[> pattern]] } LIMIT 100'>[[i18n "executeAsSPARQLQuery" locale=(urlParam "preferredLanguage")]]</mp-link>
[[/if]]